.dropdowns {
    margin: 12px; 
 }
 .dropdowns p-dropdown:first-child {
     margin-right: 15px;
 }
 .blue-bg {
     background: #00688f !important;
 }
 .align-heading {
     display: flex;
     align-items: center;
 }

 