.dropdowns {
   margin: 12px; 
}
.dropdowns p-dropdown:first-child {
    margin-right: 15px;
}
.blue-bg {
    background: #00688f !important;
}
.align-heading {
    display: flex;
    align-items: center;
}
.progress {
    height: 40px;
    div {
        height: 40px;
        background: grey;
        color: #fff;
        display: flex;
        align-items: center;
    }
    div:nth-child(2) {
        background: orange;
    }
    div:last-child {
        background: green;
    }
}
.status {
    padding-bottom: 15px;
    div:last-child {
        color: red;
    }
}
.circles {
    div {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #ceeffa;
        margin: 5px;
        text-align: center;
        line-height: 37px;
    }
}