.form-select{
    padding: 5px 12px;
    border-radius: 5px;
}
.option {
    padding: 5px 12px;
}
div[id$="license-text"] {
    display: none !important;
}
div[id="bdMetricsChart-license-text"] {
    display: none !important;
}
div[id="jiraTasksChart-license-text"] {
    display: none !important;
}
div[id="jiraStatusChartConfig-license-text"] {
    display: none !important;
}
div[id="sonarChart-license-text"] {
    display: none !important;
}
.blue-bg {
    background: #00688f !important;
}